.button {
  padding: 1rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "ProximaRegular", serif;
}
