.button,
.input {
  font-size: 0.875rem;
}

.button {
  padding: 1rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  text-transform: uppercase;
  font-family: "ProximaRegular", serif;

  &.is-link {
    text-transform: none;
  }

  &:hover {
    opacity: 0.95;
  }

  &:active {
    opacity: 0.7;
  }
}

.buttons {
  display: flex;
  gap: 0.25rem;
}

.input {
  height: 2.5rem;
  border: none;
  width: 100%;
  padding: 1rem;
}

$shadow-color: #f1f1f2;

.shadow-box {
  box-shadow: 0px 1px 2px $shadow-color, 0px -2px 3px $shadow-color;
}

.divider {
  height: 2px;
  background-color: $shadow-color;
}
