h1,
h2,
h3 {
  font-family: "ProximaBold", serif;
}

.fw-bold {
  font-family: "ProximaBold", serif;
}

.fw-regular {
  font-family: "ProximaRegular", serif;
}

.fw-light {
  font-family: "ProximaLight", serif;
}

.fw-thin {
  font-family: "ProximaThin", serif;
}

.has-text-centered {
  text-align: center;
}
