<div class="is-flex flex-grow-1">
  <h1>Categories</h1>
  <%= button_to 'Logout', destroy_user_session_url, method: :delete %>
  <% @categories.each do |category| %>
    <div>
      <h1><%= category.name %></h1>
    </div>
  <% end %>
</div>
<footer class="p-4 is-secondary">
  <%= link_to 'Add a new category', new_category_path, class: "button is-outlined" %>
</footer>